<!-- views/partials/navbar.ejs -->
<div class="navbar navbar-inverse header">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">HOME</a>
  </div>
  <div class="navbar-collapse collapse">
    <nav>
        <ul class="nav navbar-nav pull-left">
            <!--<li role="presentation"><a href="/">Configuration</a></li>-->
            <li><a href="/api/SendEmail">Send Email</a></li>
            <li><a href="/api/">Report</a></li>
        </ul>
    </nav>
  </div>
</div>


    <div class="col-lg-2 col-md-3 col-sm-3">
      <div class="sidebar-nav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
        </button>

      </div>
      <div class="navbar-collapse collapse">
        <nav>
        <h3 class="subHeader">Configuration</h3>
          <ul class="nav navbar-nav pull-left">
            <li><a href="/api/HotelInformation">Hotel Information</a></li>
            <li><a href="/api/EmailTemplate">Email Template</a></li>
            <li><a href="/api/EmailSystem">Email System</a></li>
            <li><a href="/api/Users">Users</a></li>
          </ul>
        </nav>
      </div>
      </div>
    </div>

